body{
    background-color: beige;
    text-align: center;
}

#sentence-el{
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
#label-el{
    color: rgb(7, 33, 21);
    text-align: center;
    
}
#btn-submit{
    background-color: rgb(73, 231, 10);
    border-radius: 9px;
    width: 90px;
    height: 40px;
    font-size: larger;
    font-weight: bolder;
    color: rgb(255, 255, 255);

}

#header{
    color: #4052f3;
}